.section .section_box{
  width:100%;
  height:100%;
}
.section .section_box .detail{
    width:100%;
    height:120px;
    background: #fff;
    border-radius: 8px;
}
.section .section_box .detail .detail_left{
    float: left;
    width:auto;
    height:100%;
    padding:30px;
}
.section .section_box .detail .detail_left h4 .span{
    font-size:12px;
    color: #6666ff;
    position: relative;
    margin-left:25px;
}
.section .section_box .detail .detail_left h4 .span .iconfont{
    position: absolute;
    left:-20px;
    top:0;
}
.section .section_box .detail .detail_left .money{
    width:auto;
    margin-top:24px;
    height:auto;
    overflow: hidden;
}
.section .section_box .detail .detail_left .money .company_name{
    font-size: 16px;
    color: #333;
}
.section .section_box .detail .detail_left .money p{
    float: left;
    font-size: 12px;
    color: #333;
    margin-right:20px;
}
.section .section_box .detail .detail_left .money p:last-child{
    margin-right:0;
}

.section .section_box .detail .detail_left .money p.shopping{
    margin-left:30px;
    position: relative;
}
.section .section_box .detail .detail_left .money p.shopping::after{
    position: absolute;
    content:'';
    width:1px;
    height:24px;
    background: #ccc;
    left:-30px;
    top:0;
}
.section .section_box .detail .detail_left .money p span{
    font-size: 18px;
    color: #fc725e;
    font-weight: bold;
}
.section .section_box .detail .detail_left .money p button{
    display: block;
    background: #fc725e;
    border: none;
    border-radius: 10px;
    min-width:60px;
    height:20px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding:0 10px;
}
.section .section_box .detail .detail_right{
    float: right;
    width:auto;
    height:100%;
}
.section .section_box .detail .detail_right .prompt{
    width:auto;
    height:100%;
    float: left;
    margin-right:30px;
}
.section .section_box .detail .detail_right .prompt .prompt_li{
    width:auto;
    height:100%;
    float: left;
    padding-top:15px;
    position: relative;
}
.section .section_box .detail .detail_right .prompt .prompt_li .Not_essential{
    position: absolute;
    width:114px;
    height:70px;
    right:14px;
    top:-50px;
    z-index: 1000;
}
.section .section_box .detail .detail_right .prompt .prompt_li .Not_essential img{
    display: block;
    width:100%;
    height:100%;
}
.section .section_box .detail .detail_right .prompt .prompt_li .Not_essential p{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    font-size: 12px;
    color: #fc725e;
    text-align: center;
    padding-top:12px;
}
.section .section_box .detail .detail_right .prompt .prompt_li.active>.li{
    background: #fc725e;
}
.section .section_box .detail .detail_right .prompt .prompt_li.active>.conme{
    color: #66cc66;
}
.section .section_box .detail .detail_right .prompt .prompt_li .li{
    width:40px;
    height:40px;
    border-radius: 50%;
    background: #ccc;
    margin:0 auto;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
.section .section_box .detail .detail_right .prompt .prompt_li .li i{
    font-size: 24px;
}
.section .section_box .detail .detail_right .prompt .prompt_li span{
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top:8px;
}
.section .section_box .detail .detail_right .prompt .prompt_li .conme{
    display: block;
    text-align: center;
    font-size: 12px;
    margin-top:6px;
    color: #6666ff;
}
.section .section_box .detail .detail_right .prompt .prompt_li:nth-child(1){
    margin-right:60px;
}

.section .section_box .detail .detail_right .prompt_name{
    float: left;
    height:60px;
    padding:0 30px;
    border-left:1px solid #ccc;
    margin-top:35px;
    padding-top:6px;
}
.section .section_box .detail .detail_right .prompt_name p{
    font-size: 12px;
    color: #666;
}
.section .section_box .detail .detail_right .prompt_name p span{
    color: #333;
}
.section .section_box .detail .detail_right .prompt_name p:nth-child(2){
    margin-top:15px;
}

.section .section_box .function{
    width:100%;
    height: auto;
    padding-top:20px;
    overflow: hidden;
}
.section .section_box .function li.public_li{
    width:33.3%;
    height:300px;
    margin-bottom:20px;
    float: left;
}
.section .section_box .function li.public_li:nth-child(1),li.public_li:nth-child(4){
    padding-right:10px;
}
.section .section_box .function li.public_li:nth-child(3),li.public_li:nth-child(6){
    padding-left:10px;
}
.section .section_box .function li.public_li:nth-child(2),li.public_li:nth-child(5){
    padding:0 10px;
}
.section .section_box .function li.public_li:nth-child(3)~li{
    margin-bottom:0;
}
.section .section_box .function li.public_li .li{
    width:100%;
    height:100%;
    background: #fff;
    border-radius: 8px;
    padding:30px 28px;
}


.section .section_box .function li.public_li .li .p_head{
    width:100%;
    height:auto;
    overflow: hidden;
    line-height: 21px;
}
.section .section_box .function li.public_li .li .p_head .span{
    float: left;
    font-size: 16px;
}
.section .section_box .function li.public_li .li .p_head .a{
    float: right;
    font-size: 12px;
    color: #6666ff;
}
.section .section_box .function li.public_li .li .p_head .a img{
    margin-left:5px;
    width:12px;
    display: block;
    float: right;
    margin-top:5px;
}
.section .section_box .function li.public_li .li .text{
    text-align: center;
    padding-top:20px;
}
.section .section_box .function li.public_li .li .text span{
    font-size: 55px;
    color: #fc725e;
}
.section .section_box .function li.public_li .li .text p{
    font-size: 12px;
    color: #999;
    margin-top:20px;
}
.section .section_box .function li.public_li .li .text p:nth-of-type(2){
    color: #fc725e;
}
.section .section_box .function li.public_li .li .text a{
    display: block;
    width:120px;
    height:30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #fc725e;
    margin:0 auto;
    border-radius: 15px;
    margin-top:20px;
}
.section .section_box .function li.public_li .li .text img{
    display: block;
    width:108px;
    margin:0 auto;
    margin-top:25px;
}
.section .section_box .function li.public_li .li .text .img_first{
    width:195px;
}

.section .section_box .function li.public_li .li .text .p_first {
    width:240px;
    margin:0 auto;
    text-align: left;
    margin-top:20px;
}
.section .section_box .function li.public_li .li .text .p_first span{
    color: #999;
    font-size: 12px;
    margin-right:24px;
}
.section .section_box .function li.public_li .li .text .p_first span:last-child{
    margin-right:0;
}
.section .section_box .function li.public_li .li .list{
    width:100%;
    height:auto;
}
.section .section_box .function li.public_li .li .list tbody{
    width:100%;
    height: 100%;
}
.section .section_box .function li.public_li .li .list tbody tr{
    position: relative;
}
.section .section_box .function li.public_li .li .list tbody tr td{
    padding-top:18px;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.section .section_box .function li.public_li .li .list tbody tr td.highlight{
    color: #66cc99 !important;
}
.section .section_box .function li.public_li .li .list tbody tr td:nth-child(1)~td{
    color: #999;
}
.section .section_box .function li.public_li .li .list tbody tr td a{
    color: #6666ff;
}
.section .section_box .function li.public_li .li .list tbody tr td:last-child{
    text-align: right;
}
.section .section_box .function li.public_li .li .list tbody tr td:first-child{
    text-align: left;
}


