@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    box-sizing: border-box;
    font-family: 微软雅黑;
}
html,body{
    background: #fff !important;
}
#public {
    width: 1080px;
    height: auto;
    padding: 30px 40px;
    margin: 0 auto;
    background: #fff;
}

#public .head {
    width: 100%;
    height: 45px;
    position: relative;
}

#public .head img {
    display: block;
    width: 102px;
    float: left;
}

#public .head .span {
    display: block;
    line-height: 45px;
    height: 45px;
}

#public .head .span.left {
    float: left;
    margin-left: 12px;
    font-size: 16px;
}

#public .head .span.right {
    float: right;
    font-size: 12px;
}

#public .head .name {
    width: 185px;
    line-height: 45px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#public .head .name i {
    font-size: 16px;
    display: block;
    height: 45px;
    line-height: 45px;
    float: right;
}

#public .pub_name {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
    border-bottom: 1px solid #ccc;
}

#public .pub_name .name {
    font-size: 24px;
    color: #000;
}

#public .pub_name .Tagging {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    text-align: justify;
}

#public .pub_name .Tagging::after {
    content: '';
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: 100%;
}

#public .pub_name .Tagging li {
    display: inline-block;
    height: 14px;
    font-size: 14px;
    color: #000;
}

#public .pub_name .Tagging li .li_box {
    margin-right: 10px;
    width: 14px;
    height: 14px;
    background: #f0f8f2;
    text-align: center;
    line-height: 14px;
    float: left;
}

#public .pub_name .Tagging li .li_box img {
    display: block;
    width: 18px;
}

#public .pub_name .Tagging li .li_box.two {
    background: #e33f3f;
    color: #fff;
    line-height: 18px;
}

#public .pub_name .Tagging li .li_box.three {
    background: #fff;
    border: 1px solid #ccc;
}

#public .pub_name .Tagging li span {
    float: left;
    height: 14px;
    line-height: 1;
}

#public .public_div {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px dashed #ededed;
}

#public .public_div .name_box {
    height: 33px;
    margin-bottom: 20px;
    line-height: 33px;
    font-size: 22px;
}

#public .public_div .name_box .icon {
    width: 33px;
    height: 33px;
    background: #fc725e;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    text-align: center;
    line-height: 33px;
}
#public .public_div .name_box .icon .iconfont{
    display: block;
    width: 100%;
    height:100%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 35px;
}

#public .public_div .name_box .duigou {
    margin-left: 20px;
}

#public .public_div .Personal {
    width: 480px;
    height: auto;
    padding-left: 20px;
    border-radius: 4px;
    position: relative;
}

#public .public_div .Personal .shimingtongguo {
    position: absolute;
    right: 80px;
    bottom: 0;
}

#public .public_div .Personal::after {
    display: block;
    content: '';
    font-size: 0;
    line-height: 0;
    clear: both;
}

#public .public_div .Personal.adopt {
    background: #f0f8f2;
}

#public .public_div .Personal.White_box {
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-sizing: initial;
}

#public .public_div .Personal.pass {
    background: #e33f3f;
    color: #fff;
}

#public .public_div .Personal li {
    margin: 5px 0;
    font-size: 14px;
}

#public .public_div .justify {
    display: block;
    height: 19px;
    width: 60px;
    text-align: justify;
    float: left;
}

#public .public_div .justify::after {
    content: '';
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
}

#public .public_div .left_right {
    width: 100%;
    height: auto;
}

#public .public_div .left_right::after {
    display: block;
    content: '';
    font-size: 0;
    line-height: 0;
    clear: both;
}

#public .public_div .left_right li {
    width: 480px;
    float: left;
    height: 25px;
    line-height: 25px;
    padding-left: 20px;
    margin-bottom: 5px;
    position: relative;
    font-size: 14px;
    border-radius: 4px;
}

#public .public_div .left_right li.adopt {
    background: #f0f8f2;
}

#public .public_div .left_right li.White_box {
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
}

#public .public_div .left_right li.pass {
    background: #e33f3f;
    color: #fff;
}

#public .public_div .left_right li:nth-child(2n-1) {
    margin-right: 40px;
}

#public .public_div .whole {
    width: 100%;
    border-radius: 4px;
    position: relative;
}

#public .public_div .whole::after {
    display: block;
    content: '';
    font-size: 0;
    line-height: 0;
    clear: both;
}

#public .public_div .whole.adopt {
    background: #f0f8f2;
}

#public .public_div .whole.White_box {
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-sizing: initial;
}

#public .public_div .whole.pass {
    background: #e33f3f;
    color: #fff;
}

#public .public_div .whole li {
    width: 480px;
    float: left;
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    margin: 2px 0;
    border-radius: 4px;
}

#public .public_div .whole li:nth-child(2n-1) {
    margin-right: 40px;
}

#public .public_div .whole:nth-of-type(1) ~ .whole {
    margin-top: 10px;
}

#public .public_div .experience {
    width: 100%;
    height: auto;
}

#public .public_div .experience li {
    padding-left: 20px;
}

#public .public_div .experience .experience_name {
    width: 100%;
    font-size: 18px;
}

#public .public_div .experience .experience_name h3 {
    font-size: 18px;
    color: #000;
    margin-left: 20px;
    margin-bottom: 10px;
}

#public .public_div .experience .experience_name #free_time {
    margin-left: 0;
}

#public .public_div .experience .Business_circles:nth-of-type(1) ~ .Business_circles {
    margin-top: 10px;
}

#public .public_div .experience .experience_box {
    width: 100%;
    height: auto;
}

#public .public_div .experience .experience_box li {
    font-size: 14px;
    height: 25px;
    margin-top: 5px;
    line-height: 25px;
    border-radius: 4px;
    position: relative;
}

#public .public_div .experience .experience_box li.adopt {
    background: #f0f8f2;
}

#public .public_div .experience .experience_box li.White_box {
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-sizing: initial;
}

#public .public_div .experience .experience_box li.pass {
    background: #e33f3f;
    color: #fff;
}

#public .public_div .experience .sm_name {
    font-size: 14px;
    display: block;
    margin: 10px 20px;
    color: #000;
    font-weight: bold;
}

#public .public_div .experience .sm_name .duigou {
    margin-left: 20px;
}

#public .public_div .experience .Duty {
    width: 100%;
    height: auto;
    position: relative;
}
#public .public_div .experience .Duty .liedui{
    display: block;
    font-size: 13px;
    color: #000;
    font-weight: bold;
    margin-left:20px;
    margin-bottom:5px;
}
#public .public_div .experience .Duty .liedui:nth-of-type(1)~.liedui{
    margin-top:10px;
}
#public .public_div .experience .Duty.adopt {
    background: #f0f8f2;
    border-radius: 4px;
}

#public .public_div .experience .Duty.White_box {
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-sizing: initial;
}

#public .public_div .experience .Duty li {
    width: 100%;
    font-size: 14px;
    padding: 5px 0;
    padding-left: 20px;
    border-radius: 4px;
}

#public .public_div .experience .Duty li::after {
    display: block;
    content: '';
    font-size: 0;
    line-height: 0;
    clear: both;
}

#public .public_div .experience .Duty li.adopt {
    background: #f0f8f2;
}

#public .public_div .experience .Duty li.White_box {
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-sizing: initial;
}

#public .public_div .experience .Duty li.pass {
    background: #e33f3f;
    color: #FFF;
}

#public .public_div .experience .Duty li .sequence {
    display: block;
    float: left;
}

#public .public_div .experience .Duty li p {
    float: left;
    width: 870px;
}

#public .public_div .experience .free li {
    padding-left: 0;
}

#public .public_div .experience .zonghe > li {
    background: #f0f8f2;
}

#public .public_div .experience .zonghe > li:nth-of-type(1) ~ li {
    margin-top: 5px;
}

#public .public_div .experience .Work_Duty li:nth-of-type(1) ~ li {
    margin-top: 5px;
}

#public .public_div .experience .Work_Duty li {
    position: relative;
}

#public .public_div .experience .style {
    width: 100%;
    height: auto;
}

#public .public_div .experience .style::after {
    display: block;
    content: '';
    font-size: 0;
    line-height: 0;
    clear: both;
}

#public .public_div .experience .style li:nth-of-type(1) {
    margin-left: 0;
}

#public .public_div .experience .style li {
    float: left;
    width: 150px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #333;
    border-radius: 4px;
    background: #f0f8f2;
    padding: 0;
    margin-right: 20px;
}

#public .public_div .experience .style li:last-child {
    margin-right: 0;
}

#public .public_div .experience:nth-of-type(2) ~ .experience {
    border-top: 1px dashed #ededed;
    padding-top: 20px;
    margin-top: 20px;
}

#public .public_div .experience:nth-of-type(3) ~ .experience {
    border-top: 1px dashed #ededed;
    padding-top: 20px;
    margin-top: 20px;
}

#public .public_div .experience:nth-of-type(4) ~ .experience {
    border-top: 1px dashed #ededed;
    padding-top: 20px;
    margin-top: 20px;
}

#public .public_div .experience:nth-of-type(5) ~ .experience {
    border-top: 1px dashed #ededed;
    padding-top: 20px;
    margin-top: 20px;
}

#public .public_div .experience:nth-of-type(6) ~ .experience {
    border-top: 1px dashed #ededed;
    padding-top: 20px;
    margin-top: 20px;
}

#public .public_div .experience:nth-of-type(7) ~ .experience {
    border-top: 1px dashed #ededed;
    padding-top: 20px;
    margin-top: 20px;
}

#public .public_div .experience:nth-of-type(8) ~ .experience {
    border-top: 1px dashed #ededed;
    padding-top: 20px;
    margin-top: 20px;
}

#public .public_div .experience:nth-of-type(9) ~ .experience {
    border-top: 1px dashed #ededed;
    padding-top: 20px;
    margin-top: 20px;
}

#public .public_div .experience:nth-of-type(10) ~ .experience {
    border-top: 1px dashed #ededed;
    padding-top: 20px;
    margin-top: 20px;
}

#public .footer {
    width: 100%;
    height: 90px;
    background: #f0f8f2;
    margin-top: 20px;
    color: #15A329;
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
}

#public .footer p {
    line-height: 20px;
}

#public .footer span {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

#public label {
    font-size: 14px;
    margin-left: 15px;
}

#public h3 > label {
    color: #e60013;
}
